<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>BetterGlideTool</string>
    <key>CFBundleDisplayName</key>
    <string>BetterGlideTool</string>
    <key>CFBundleIdentifier</key>
    <string>com.betterglidetool.app</string>
    <key>CFBundleVersion</key>
    <string>2.4.0</string>
    <key>CFBundleShortVersionString</key>
    <string>2.4.0</string>
    <key>CFBundleExecutable</key>
    <string>BetterGlideTool</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
    <key>NSAccessibilityUsageDescription</key>
    <string>BetterGlideTool requires Accessibility access to detect trackpad and Magic Mouse gestures and control windows.</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>BetterGlideTool runs the AppleScript actions you configure, and reads app menus so you can assign menu items to gestures.</string>
</dict>
</plist>
